{{define "board"}}
<table id="board" style="float: left">
{{ range .Squares }}
    <tr>
    {{ range . }}
        <td height="70px" id="{{.Pos}}"
        {{ $white := .Color }}
        {{ if not $white }}
            bgcolor="#D0ECE7"
        {{ end }}
            ondrop="move(event)" ondragover="allowDrop(event)">
        {{if ne .Piece.ImagePath ""}}
            <img id="piece_{{.Pos}}" class="{{.Piece.Id}}_{{.Piece.Color}}" draggable="true"
                 ondragstart="drag(event)"
                 src={{.Piece.ImagePath}} width="70px"/>
        {{end}}
        </td>
    {{ end }}
    </tr>
{{ end }}

</table>
<table style="float: left;">
    <tr>
        <th>Moves</th>
    </tr>
{{ range .Moves}}
    <tr>
        <td>{{.}}</td>
    </tr>
{{end}}
</table>
{{end}}