{{define "board"}}
<table id="board">
{{ range . }}
    <tr>
    {{ range . }}
        <td height="70px" id="{{.Pos}}"
        {{ $white := .Color }}
        {{ if not $white }}
            bgcolor="#D0ECE7"
        {{ end }}
            ondrop="drop(event)" ondragover="allowDrop(event)">
        {{if ne .Piece.ImagePath ""}}
            <img id="piece_{{.Pos}}" class="{{.Piece.Id}}_{{.Piece.Color}}" draggable="true" ondragstart="drag(event)"
                 src={{.Piece.ImagePath}} width="70px"/>
        {{end}}
        </td>
    {{ end }}
    </tr>
{{ end }}

</table>
{{end}}