{{define "base"}}
<html>
<head>
    <title>Play Chess</title>
    <style>
        img {
            -webkit-filter: drop-shadow(1px 1px 1px #222);
            filter: drop-shadow(1px 1px 1px #222);
            position: relative;
            bottom: 2px;
        }

    </style>
    <script>
        var timer;
        var shake = function (element, magnitude = 16) {
            //First set the initial tilt angle to the right (+1)
            var tiltAngle = 1;

            //A counter to count the number of shakes
            var counter = 1;

            //The total number of shakes (there will be 1 shake per frame)
            var numberOfShakes = 15;

            //Capture the element's position and angle so you can
            //restore them after the shaking has finished
            var startX = 0,
                    startY = 0,
                    startAngle = 0;

            // Divide the magnitude into 10 units so that you can
            // reduce the amount of shake by 10 percent each frame
            var magnitudeUnit = magnitude / numberOfShakes;

            //The `randomInt` helper function
            var randomInt = (min, max) => {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            };


            upAndDownShake();

            //The `upAndDownShake` function
            function upAndDownShake() {

                //Shake the element while the `counter` is less than
                //the `numberOfShakes`
                if (counter < numberOfShakes) {

                    //Reset the element's position at the start of each shake
                    element.style.transform = 'translate(' + startX + 'px, ' + startY + 'px)';

                    //Reduce the magnitude
                    magnitude -= magnitudeUnit;

                    //Randomly change the element's position
                    var randomX = randomInt(-magnitude, magnitude);
                    var randomY = randomInt(-magnitude, magnitude);

                    element.style.transform = 'translate(' + randomX + 'px, ' + randomY + 'px)';

                    //Add 1 to the counter
                    counter += 1;

                    requestAnimationFrame(upAndDownShake);
                }

                //When the shaking is finished, restore the element to its original
                //position and remove it from the `shakingElements` array
                if (counter >= numberOfShakes) {
                    element.style.transform = 'translate(' + startX + ', ' + startY + ')';
                }
            }

        };

        function allowDrop(ev) {
            ev.preventDefault();
        }


        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function promote(origPos, newPos, newPiece) {
            xhr = new XMLHttpRequest();
            xhr.open('POST', '/promote?' + origPos + "-" + newPos + "-" + newPiece);
            xhr.onload = function () {
                if (xhr.status !== 200) {
                    shake(document.getElementById("board-div"));
                } else {
                    clearInterval(timer);
                    document.getElementById("board-div").innerHTML = xhr.responseText
                }
            };
            xhr.send();
        }
        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            var elem = document.getElementById(data);
            var origParentNode = document.getElementById(data).parentNode;
            var destParentNode = ev.target.parentNode;
            var piece = elem.getAttribute("class");
            var pos = parseInt(destParentNode.id);
            if ((piece === "white_pawn" || piece === "black_pawn") &&
                    (pos < 8 || pos > 55)) {
                xhr = new XMLHttpRequest();
                xhr.open('GET', '/valid_promotions?' + origParentNode.id + "-" + destParentNode.id);
                xhr.onload = function () {
                    if (xhr.status !== 200) {
                        shake(document.getElementById("board-div"));
                    } else {
                        var images = xhr.responseText.split(",");
                        var x= 0;
                        function displayNextPromotion() {
                            x = (x === images.length - 1) ? 0 : x + 1;
                            elem.src = images[x];
                            elem.setAttribute(
                                "onClick", "promote("+origParentNode.id+","+ destParentNode.id+ ",'" +elem.src.split("-")[0].slice(-1) + "')");
                        }
                        function startTimer() {
                            timer = setInterval(displayNextPromotion, 1000);
                        }
                        destParentNode.replaceChild(elem, ev.target);
                        startTimer()
                    }
                };
                xhr.send();
            } else {
                xhr = new XMLHttpRequest();
                xhr.open('POST', '/move?' + origParentNode.id + "-" + destParentNode.id);
                xhr.onload = function () {
                    if (xhr.status !== 200) {
                        shake(document.getElementById("board-div"));
                    } else {
                        document.getElementById("board-div").innerHTML = xhr.responseText
                    }
                };
                xhr.send();
            }
        }
    </script>
</head>
<body>
<div id="board-div">
    {{template "board" .}}
</div>
</body>
</html>
{{end}}